.cart-content {
    position: fixed;
    top: 0;
    right: -100%; /* Initial position off-screen */
    width: 60%;
    height: 100%;
    overflow: none;
    background-color: #d3d3d3;
    z-index: 2;
    transition: right 0.3s ease; /* Transition property for sliding effect */
    box-shadow: -50px 0 200px rgba(0, 0, 0, 0.5);
}

.dark .cart-content {
    background-color: #000;
    box-shadow: -50px 0 200px rgba(255, 255, 255, 0.5);
}


.cart-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 90px;
}

.cart-header {
    color: #0b0b0c;
    font-size: 50px; /* Adjust font size as needed */
    font-family: 'Hug Me Tight', sans-serif;
    padding-top: 20px;
    padding-left: 45px;
}

.continue-shopping {
    text-align: right;
    padding-right: 90px;
    font-size: 22px;
    font-family: 'MetropolisRegular', sans-serif;
}


.continue-shopping a {
    color: #000;
    text-decoration: none;
}

.dark .continue-shopping a {
    color: #fff;
}


.cart-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'MetropolisRegular', sans-serif;
}

#cart {
    text-align: center;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 60px;
}

th,
td {
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 40px;
    padding-right: 0px;
    text-align: left;
    white-space: nowrap; /* Prevent text wrapping */
    font-size: 16px;
    font-weight: bold;
}

.dark td {
    color: #fff;
}

.cart-price {
    padding-right: 5rem;
}

.cart-name {
    padding-right: 35rem;
}

th {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 25px;
}

.dark th {
    color: #fff;
}

.dark .cart-header {
    color: #fff;
}
